@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var homePage=Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var children=homePage.Children.Where(x=>x.IsVisible()) ?? Enumerable.Empty<IPublishedContent>();
    var navigationItems=homePage.Navigation;
}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="@homePage.Url()">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">

                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@homePage.Url()">Home</a></li>
                @if(children!=null && children.Any()){
                    foreach(var item in children){
                        //<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@item.Url()">@item.Name</a></li>
                    }
                    
                }
               
                @if(navigationItems!=null && navigationItems.Any()){
                    var dropdownId=0;
                    foreach(var nav in navigationItems){
                        var hasChildLinks=nav.ChilldLinks!=null && nav.ChilldLinks.Any();
                        if(hasChildLinks){
                            <li class="nav-item dropdown">
                                <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle" href="#" role="button" id="dropdownItem@(dropdownId)" data-bs-toggle="dropdown" aria-expanded="false">
                                @nav.Link.Name
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownItem@(dropdownId)">
                                    @foreach(var childLink in nav.ChilldLinks){
                                        <li><a class="dropdown-item" href="@childLink.Url" target="@childLink.Target">@childLink.Name</a></li>
                                    }
                                </ul>
                            </li>
                            
                        }else{
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@nav.Link.Url" target="@nav.Link.Target">@nav.Link.Name</a></li>    
                        }
                        dropdownId++;
                    }
                    
                }
                
            </ul>
        </div>
    </div>
</nav>